[submodule "godot"]
	path = godot
	url = https://github.com/MadMcCrow/godot
	branch = 3.2
[submodule "estragon"]
	path = estragon
	url = https://github.com/MadMcCrow/estragon
	branch = production
[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp
	branch = 3.2
